/* Fonts c*/
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Rubik+Mono+One&display=swap");

* {
  color: white;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  width: 100vw;
  height: 100vh;
}

#landing {
  height: 100%;
  width: 100%;

  .image-background {
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    .image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
    .image-animation-call {
      animation: background-image-zoom 30s linear forwards;
    }
    .image-effect {
      width: 100vw;
      height: 100vh;
      position: absolute;
      opacity: 0.5;
      top: 0;
      left: 0;
      background: repeating-linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 0.2vh,
        rgb(0, 0, 0) 0px,
        rgb(0, 0, 0) 2vh
      );
    }
  }
}

@keyframes background-image-zoom {
  95% {
    opacity: 1;
  }
  100% {
    scale: 1.4;
    opacity: 0;
  }
}

.navbar {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  .half {
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px;
    box-sizing: border-box;
  }
  .half:first-child {
    justify-content: start;
  }
  .search {
    background-color: red;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .search-bar {
      position: absolute;
      height: 40px;
      width: 40%;
      border: none;
      outline: none;
      margin: none;
      color: rgb(255, 255, 255);
      font-family: "Inconsolata", monospace;
      font-weight: 500;
      padding: 0px 10px;
      box-sizing: border-box;
      font-size: 1em;
      background: rgb(0, 0, 0);
      border: 3px solid white;
    }
    .options {
      position: absolute;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(20px);
      top: 0%;
      z-index: -1;
      overflow: hidden;
      left: 0%;

      .spacer {
        height: 80px;
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
      }
      .tag-area {
        box-sizing: border-box;
        width: 100%;
        .entry {
          font-family: "Inconsolata", monospace;
          width: 100%;
          color: rgb(255, 255, 255);
          border-bottom: grey 1px solid;
          padding: 5px;
          box-sizing: border-box;
          user-select: none;
          margin: 10px;
        }
        .entry:hover {
          background: grey;
          font-weight: bold;
        }
      }
    }
  }
  .sep {
    width: 5px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0px 10px;
    border-radius: 10px;
    opacity: 0.1;
  }
  h1 {
    font-family: "Rubik Mono One", monospace;
    background: -webkit-linear-gradient(#ffffff, #ffffff 40%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h4 {
    font-family: "Inconsolata", monospace;
    font-weight: 900;
  }
  a {
    text-decoration: none;
  }
  button {
    height: 40px;
    width: 140px;
    background: rgba(0, 0, 0, 0.8);
    border: solid white 3px;
    margin: 10px;
    text-wrap: nowrap;
    overflow: hidden;
    position: relative;
    transition: all 0.3s linear;
    font-family: "Inconsolata", monospace;
    font-weight: 900;
    transition: width 2s ease;
  }

  button .effect {
    background: rgb(255, 255, 255);
    width: 50vw;
    transform: skewX(39deg);
    height: calc(100% + 1px);
    top: 0;
    left: calc((50vw + 39px) * -1);
    transition: all 1s ease-out;
    position: absolute;
    opacity: 0.9;
    z-index: -1;
  }
  button:hover .effect {
    left: calc(0% - 39px);
    transition: all 2s ease-out;
  }
  button:hover {
    background: rgba(0, 0, 0, 0);
  }
  button:hover h3 {
    color: black;
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  .ad {
    width: 200px;
    height: 100%;
    background: rgba(128, 128, 128, 0.123);
    top: 0;
    left: 0;
    position: absolute;
  }
  .ad-right {
    left: unset;
    right: 0%;
  }
  .content-inner {
    width: calc(100% - 400px);
    height: 100%;
  }
}

@keyframes button-hide-animation {
  90% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
    display: none;
  }
}
